[submodule "libs/Tiled-MM"]
	path = libs/Tiled-MM
	url = https://github.com/dbsanfte/Tiled-MM.git
	branch = feature/bf16-support
[submodule "libs/COSTA"]
	path = libs/COSTA
	url = https://github.com/dbsanfte/COSTA
[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts
