[submodule "libs/Tiled-MM"]
	path = libs/Tiled-MM
	url = https://github.com/eth-cscs/Tiled-MM.git
[submodule "libs/COSTA"]
	path = libs/COSTA
	url = https://github.com/eth-cscs/COSTA
[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts
